@mixin style-line {
  transition: all 0.3s ease-in-out;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: red;
    transform: scale(1.1);
  }
}

@mixin pc {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}
