@import "/src/styles/mixin/layout.scss";
.containerAb {
  padding: 50px 150px 20px 150px;
  @include sp {
    padding: 40px 40px 20px 40px;
  }
  &__heroheader {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;

    @include sp {
      display: block;
      justify-items: center;
    }

    .ingAvata {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 50px;
      box-shadow: 0px 0px 20px 2px rgba(90, 208, 223, 0.75);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      @include sp {
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin-top: 30px;
      }
    }

    .myInfo {
      padding-top: 120px;
      line-height: 50px;
      h2 {
        color: red;
        font-size: 45px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 35px;
        color: orange;
        span {
          color: #fff;
        }
      }

      @include sp {
        padding-top: 0px;
        margin-top: 30px;
        line-height: 30px;
        text-align: center;
        h2 {
          font-size: 25px;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }

  &__abMe {
    margin-top: 80px;
    @include sp {
      margin-top: 5px;
    }
    .introduce {
      padding: 10px;
      line-height: 1.9;
      h1 {
        font-size: 40px;
        color: orangered;
      }
      p {
        margin-left: 20px;
        font-size: 20px;
        line-height: 1.4;
        text-wrap: wrap;
        margin-bottom: 15px;
      }

      @include sp {
        padding: 5px;
        line-height: 1.5;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    .mySkills {
      line-height: 1.9;
      padding: 10px;

      h1 {
        color: red;
        font-size: 40px;
        padding: 8px;
      }
      p {
        margin-left: 20px;
        font-size: 20px;
        line-height: 1.4;
        text-wrap: wrap;
        margin-bottom: 15px;

        .icon {
          color: white;
          transition: all 0.3s ease;
          margin-right: 10px;
          cursor: pointer;
          font-size: 25px;
          &:hover {
            color: aqua;
            transform: scale(1.2)
          }
        }
      }

      @include sp {
        padding: 5px;
        line-height: 1.5;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
