@import "/src/styles/mixin/layout.scss";
.container {
  padding: 50px 100px 0px 100px;
  text-align: center;
  @include sp {
    padding: 10px 40px 0px 40px;
  }
  &__list {
    h1 {
      font-size: 50px;
      color: orangered;
      margin-bottom: 20px;
    }

    .list-card {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    @include sp {
      h1 {
        font-size: 30px;
        margin-bottom: 15px;
      }

      .list-card {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
      }
    }
  }
}
