@import "/src/styles/mixin/layout.scss";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  @include sp {
    padding: 10px 40px;
  }

  //   & <=> .header
  &__logo h1 {
    font-size: 40px;
    background: linear-gradient(45deg, #7877c6, #78dbff, #ff77c6, #c677ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 300% 300%;
    animation: gradients 3s ease-in-out infinite;
    text-shadow: 0 0 30px rgba(120, 119, 198, 0.5);

    @include sp {
      font-size: 20px;
    }
  }

  @keyframes gradients {
    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }


  &__link {
    display: flex;
    align-items: center;

    .menu {
      display: flex;
      gap: 40px;
      a {
        display: inline;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
        @include style-line;
     
      }
      @include sp {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.95);
        gap: 30px;
        padding: 50px 40px;
        transition: right 0.3s ease;
        a{
          font-size: 15px;
        }
      }

      &.active {
        @include sp {
          right: 0; 
        }
      }
    }

    .menusp {
      display: none;
      align-items: center;
      font-size: 25px;
      cursor: pointer;

      @include sp {
        display: block;
        z-index: 10;
      }
    }
  }
}
